* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Nav */



  /* Body */

  --Background-color: #2d2e32;
  --box-shadow: rgb(17, 15, 15);

  /* Main  */

  --Main-color: antiquewhite;
  --title: rgba(28, 232, 229);

}

html {
  scrollbar-width: thin;
  scrollbar-color: blue;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: var(--Background-color);

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

header.sticky {
  /* box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1); */
  box-shadow: 0 0 20px 0 var(--box-shadow);
  background-color: var(--Background-color);
}

header .header {
  height: 70px;
  margin: 0 auto;
  /* outline: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}

.container {
  width: 90%;
  max-width: 1150px;
}

.logo {
  font-size: 2.5rem;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  color: var(--Main-color);
  /* background-color: green;
  background-color:  rgba(28, 232, 229);; */
}

/* nav ul {
  display: flex;
  list-style: none;
  column-gap: 1.5rem;
} */

/* Mobile */
nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 50%;
  width: 90%;
  height: 100vh;
  transition: all 0.3s ease-out;
  background-color: var(--Background-color);
  box-shadow: 0px 0px 10px var(--box-shadow);
  z-index: 1;
  transform: translateX(100%);
}

.nav-toggle {
  transform: translateX(-34%);
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  column-gap: 1.5rem;
  row-gap: 3rem;
}

nav a {
  text-decoration: none;
  color: var(--Main-color);
  font-size: 1.5rem;
}

.hamburger {
  z-index: 1;
}

.line {
  width: 30px;
  height: 3px;
  margin: 7px 0;
  background-color: var(--Main-color);
  transition: all 0.3s ease-out;
}

.line1.trans {
  transform: rotate(43deg);
  transform-origin: 0px;
}

.line2.trans {
  transform: scale(0);
  transform-origin: center;
}

.line3.trans {
  transform: rotate(-43deg);
  transform-origin: 0px;
}

main {
  position: relative;
}

section {
  margin: 0 auto;
  /* height: 100vh; */
  padding: 4.5rem 0 1rem;
  display: grid;
  place-items: center;
}

.left {
  width: 40px;
  position: fixed;
  bottom: 0;
  display: none;
  right: auto;
  z-index: 10;
}

.left .fa {
  color: var(--Main-color);
  padding: 6px;
}

.left .fa:hover {
  cursor: pointer;
  transition: all .1s ease;
  border: 1px solid var(--Main-color);
  border-radius: 50%;
}

.left ul {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.left ul li {
  margin-bottom: 20px;
}

.left ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--Main-color);
}

.right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  display: none;
  z-index: 10;
  
}


.email-social {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  position: relative;
}

.email-social a {
  margin: 20px auto;
  text-decoration: none;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  color: var(--Main-color);
  
}

.email-social a:hover {
  text-decoration: underline;
  transition: all .5s ease;
}

.email-social::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--Main-color);
}

.section-1 {
  color: blue;
  min-height: 100vh;
  height: 100%;
}

.section-1 span {
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin: 1rem 0;
  display: inline-block;
  color: white;
}

.section-1 h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--title);
}

.text-1 {
  margin: 20px 0;
}

.section-1 .text-2 p {
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  margin: 20px 0;
  line-height: 35px;
  color: antiquewhite;
}

.section-1-socials {
  margin: 30px 0;
}

.section-1-socials ul {
  display: flex;
  column-gap: 20px;
}

.section-1-socials li {
  list-style: none;
}

.section-1-socials i {
  color: var(--Main-color);
}

.arrow-down {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  margin: 20px auto;
}

.section-2 {
  color: blue;
}

.section-2 h1 {
  font-size: clamp(1.3rem, 5vw, 2rem);
  margin: 20px 0;
  color: var(--title);
}

.section-2 img {
  border-radius: 10px;
}

.section-2 p {
  font-size: clamp(1.3rem, 5vw, 1.3rem);
  line-height: 35px;
  margin-bottom: 20px;
  color: var(--Main-color);
}

.technologies {
  max-width: 800px;
  margin: 0 auto;
}

.technologies h3 {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  text-align: center;
  margin: 20px 0;
  color: var(--title);
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  place-items: center;
  grid-gap: 20px;
}

.tech {
  outline: 1px solid var(--Main-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}

.tech i {
  color: var(--title);
}
.section-3 h1 {
  font-size: clamp(1.3rem, 5vw, 2rem);
  color: var(--title);
  margin: 20px 0;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  grid-gap: 20px;
  margin: 50px 0;
}

.projects-grid {
  width: 300px;
  height: 300px;
  outline: 1px solid var(--title);
}

button {
  margin: 20px;
  border: none;
  padding: 15px 35px;
  background-color: var(--title);
  border-radius: 20px;
}

button a {
  text-decoration: none;
  color: var(--Main-color);
  font-weight: bold;
  font-size: 1rem;
}


.form-container {
  max-width: 500px;
  width: 100%;
}

form {
  margin: 35px;
}

.input-field {
  max-width: 400px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
}

.btn {
  border-radius: 20px;
  color: white;
  margin-top: 18px;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--title);
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.section-4 h1 {
  font-size: clamp(1.3rem, 5vw, 2rem);
  color: var(--title);
  margin: 20px 0;
}












footer {
  width: 100%;
  height: 50px;
  background-color: rgb(7, 7, 7);
  position: relative;
  z-index: 11;
}


@media screen and (max-width: 375px) {
  .projects-grid {
    width: 100%;
    height: 300px;
    outline: 1px solid red;
  }
}


@media screen and (min-width: 769px) {
  nav {
    position: initial;
    height: initial;
    display: initial;
    transform: none;
    transition: none;
    width: initial;
    outline: none;
    box-shadow: none;
  }

  .hamburger {
    display: none;
  }

  nav ul {
    flex-direction: row;
  }

  nav a {
    font-size: 1.3rem;
  }

  .left {
    left: 0px;
    display: block;
  }

  .right {
    right: 0px;
    display: block;
  }

    .section-1-socials {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .left {
    left: 20px;
  }

  .right {
    right: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .left {
    left: 50px;
  }

  .right {
    right: 50px;
  }

  .section-1-socials {
    display: none;
  }
}
